doctype true
head
  //if gte mso 9
    xml
      o:officedocumentsettings
        o:allowpng
          o:pixelsperinch 96
  meta(content='text/html; charset=utf-8', http-equiv='Content-Type')
  meta(content='width=device-width', name='viewport')
  // [if !mso] <!
  meta(content='IE=edge', http-equiv='X-UA-Compatible')
  // <![endif]
  title
  // [if !mso] <!
  // <![endif]
  style(type='text/css').
    body {
      margin: 0;
      padding: 0;
    }
    table,
    td,
    tr {
      vertical-align: top;
      border-collapse: collapse;
    }
    * {
      line-height: inherit;
    }
    a[x-apple-data-detectors=true] {
      color: inherit !important;
      text-decoration: none !important;
    }
  style#media-query(type='text/css').
    @media (max-width: 660px) {
      .block-grid,
      .col {
        min-width: 320px !important;
        max-width: 100% !important;
        display: block !important;
      }
      .block-grid {
        width: 100% !important;
      }
      .col {
        width: 100% !important;
      }
      .col>div {
        margin: 0 auto;
      }
      img.fullwidth,
      img.fullwidthOnMobile {
        max-width: 100% !important;
      }
      .no-stack .col {
        min-width: 0 !important;
        display: table-cell !important;
      }
      .no-stack.two-up .col {
        width: 50% !important;
      }
      .no-stack .col.num4 {
        width: 33% !important;
      }
      .no-stack .col.num8 {
        width: 66% !important;
      }
      .no-stack .col.num4 {
        width: 33% !important;
      }
      .no-stack .col.num3 {
        width: 25% !important;
      }
      .no-stack .col.num6 {
        width: 50% !important;
      }
      .no-stack .col.num9 {
        width: 75% !important;
      }
      .video-block {
        max-width: none !important;
      }
      .mobile_hide {
        min-height: 0px;
        max-height: 0px;
        max-width: 0px;
        display: none;
        overflow: hidden;
        font-size: 0px;
      }
      .desktop_hide {
        display: block !important;
        max-height: none !important;
      }
    }
//if IE
  .ie-browser
table.nl-container(bgcolor='#FFFFFF', cellpadding='0', cellspacing='0', role='presentation', style='table-layout: fixed; vertical-align: top; min-width: 320px; Margin: 0 auto; border-spacing: 0; border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; background-color: #FFFFFF; width: 100%;', valign='top', width='100%')
  tbody
    tr(style='vertical-align: top;', valign='top')
      td(style='word-break: break-word; vertical-align: top;', valign='top')
        //if (mso)|(IE)
          table(width='100%', cellpadding='0', cellspacing='0', border='0')
            tr
              td(align='center', style='background-color:#FFFFFF')
        div(style="background-image:url('https://isho-parkings.herokuapp.com/images/background.png');background-position:top left;background-repeat:repeat;background-color:transparent;")
          .block-grid(style='Margin: 0 auto; min-width: 320px; max-width: 640px; overflow-wrap: break-word; word-wrap: break-word; word-break: break-word; background-color: transparent;')
            div(style='border-collapse: collapse;display: table;width: 100%;background-color:transparent;')
              //if (mso)|(IE)
                table(width='100%', cellpadding='0', cellspacing='0', border='0', style="background-image:url('images/background.png');background-position:top left;background-repeat:repeat;background-color:transparent;")
                  tr
                    td(align='center')
                      table(cellpadding='0', cellspacing='0', border='0', style='width:640px')
                        tr.layout-full-width(style='background-color:transparent')
              //if (mso)|(IE)
                td(align='center', width='640', style='background-color:transparent;width:640px; border-top: 0px solid transparent; border-left: 0px solid transparent; border-bottom: 0px solid transparent; border-right: 0px solid transparent;', valign='top')
                  table(width='100%', cellpadding='0', cellspacing='0', border='0')
                    tr
                      td(style='padding-right: 0px; padding-left: 0px; padding-top:40px; padding-bottom:45px;')
              .col.num12(style='min-width: 320px; max-width: 640px; display: table-cell; vertical-align: top; width: 640px;')
                div(style='width:100% !important;')
                  // [if (!mso)&(!IE)] <!
                  div(style='border-top:0px solid transparent; border-left:0px solid transparent; border-bottom:0px solid transparent; border-right:0px solid transparent; padding-top:40px; padding-bottom:45px; padding-right: 0px; padding-left: 0px;')
                    // <![endif]
                    .img-container.center.fixedwidth(align='center', style='padding-right: 0px;padding-left: 0px;')
                      //if mso
                        table(width='100%', cellpadding='0', cellspacing='0', border='0')
                          tr(style='line-height:0px')
                            td(style='padding-right: 0px;padding-left: 0px;', align='center')
                      img.center.fixedwidth(align='center', alt='Logo', border='0', src='https://isho-parkings.herokuapp.com/images/logo.png', style='text-decoration: none; -ms-interpolation-mode: bicubic; border: 0; height: auto; width: 100%; max-width: 128px; display: block;', title='Logo', width='128')
                      //if mso
                    //if mso
                      table(width='100%', cellpadding='0', cellspacing='0', border='0')
                        tr
                          td(style='padding-right: 10px; padding-left: 10px; padding-top: 10px; padding-bottom: 10px; font-family: Arial, sans-serif')
                    div(style='color:#555555;font-family:Helvetica Neue, Helvetica, Arial, sans-serif;line-height:1.2;padding-top:10px;padding-right:10px;padding-bottom:10px;padding-left:10px;')
                      div(style='line-height: 1.2; font-size: 12px; color: #555555; font-family: Helvetica Neue, Helvetica, Arial, sans-serif; mso-line-height-alt: 14px;')
                        p(style='line-height: 1.2; word-break: break-word; mso-line-height-alt: NaNpx; margin: 0;') &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;
                        p(style='line-height: 1.2; word-break: break-word; mso-line-height-alt: NaNpx; margin: 0;') &nbsp;
                    //if mso
                    //if mso
                      table(width='100%', cellpadding='0', cellspacing='0', border='0')
                        tr
                          td(style='padding-right: 10px; padding-left: 10px; padding-top: 10px; padding-bottom: 10px; font-family: Arial, sans-serif')
                    div(style='color:#555555;font-family:Helvetica Neue, Helvetica, Arial, sans-serif;line-height:1.2;padding-top:10px;padding-right:10px;padding-bottom:10px;padding-left:10px;')
                      div(style='font-family: Helvetica Neue, Helvetica, Arial, sans-serif; font-size: 12px; line-height: 1.2; color: #555555; mso-line-height-alt: 14px;')
                        p(style='font-size: 20px; line-height: 1.2; word-break: break-word; text-align: center; font-family: Helvetica Neue, Helvetica, Arial, sans-serif; mso-line-height-alt: 24px; margin: 0;')
                          span(style='font-size: 20px;') &nbsp;#{firstNameAdmin},
                    //if mso
                    //if mso
                      table(width='100%', cellpadding='0', cellspacing='0', border='0')
                        tr
                          td(style='padding-right: 10px; padding-left: 10px; padding-top: 10px; padding-bottom: 10px; font-family: Arial, sans-serif')
                    div(style='color:#555555;font-family:Helvetica Neue, Helvetica, Arial, sans-serif;line-height:1.2;padding-top:10px;padding-right:10px;padding-bottom:10px;padding-left:10px;')
                      div(style='line-height: 1.2; font-size: 12px; color: #555555; font-family: Helvetica Neue, Helvetica, Arial, sans-serif; mso-line-height-alt: 14px;')
                        p(style='line-height: 1.2; word-break: break-word; mso-line-height-alt: NaNpx; margin: 0;') &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;
                        p(style='line-height: 1.2; word-break: break-word; mso-line-height-alt: NaNpx; margin: 0;') &nbsp;
                    //if mso
                    //if mso
                      table(width='100%', cellpadding='0', cellspacing='0', border='0')
                        tr
                          td(style='padding-right: 10px; padding-left: 10px; padding-top: 5px; padding-bottom: 5px; font-family: Arial, sans-serif')
                    div(style='color:#555555;font-family:Helvetica Neue, Helvetica, Arial, sans-serif;line-height:1.2;padding-top:5px;padding-right:10px;padding-bottom:5px;padding-left:10px;')
                      div(style='line-height: 1.2; font-size: 12px; color: #555555; font-family: Helvetica Neue, Helvetica, Arial, sans-serif; mso-line-height-alt: 14px;')
                        p(style='font-size: 20px; line-height: 1.2; text-align: center; word-break: break-word; mso-line-height-alt: 24px; margin: 0;')
                          span(style='font-size: 20px;')
                            | A aparut un nou utilizator cu adresa de email: #{emailClient} si numele: #{firstNameClient} . Va amintim ca trebuie sa asocia&#x21B;i contului cardul ISHO.
                        p(style='font-size: 12px; line-height: 1.2; text-align: center; word-break: break-word; mso-line-height-alt: 14px; margin: 0;') &nbsp;
                        p(style='font-size: 12px; line-height: 1.2; text-align: center; word-break: break-word; mso-line-height-alt: 14px; margin: 0;') &nbsp;
                        p(style='font-size: 12px; line-height: 1.2; text-align: center; word-break: break-word; mso-line-height-alt: 14px; margin: 0;') &nbsp;
                    //if mso
                    .button-container(align='center', style='padding-top:10px;padding-right:10px;padding-bottom:10px;padding-left:10px;')
                      //if mso
                        table(width='100%', cellpadding='0', cellspacing='0', border='0', style='border-spacing: 0; border-collapse: collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;')
                          tr
                            td(style='padding-top: 10px; padding-right: 10px; padding-bottom: 10px; padding-left: 10px', align='center')
                              v:roundrect(xmlns:v='urn:schemas-microsoft-com:vml', xmlns:w='urn:schemas-microsoft-com:office:word', href='REDIRECT_URL', style='height:34.5pt; width:147.75pt; v-text-anchor:middle;', arcsize='9%', strokeweight='1.5pt', strokecolor='#C3996B', fill='false')
                                w:anchorlock
                                  v:textbox(inset='0,0,0,0')
                                    center(style='color:#c3996b; font-family:Arial, sans-serif; font-size:16px')
                      a(href=linkToRedirect, style='-webkit-text-size-adjust: none; text-decoration: none; display: inline-block; color: #c3996b; background-color: transparent; border-radius: 4px; -webkit-border-radius: 4px; -moz-border-radius: 4px; width: auto; width: auto; border-top: 2px solid #C3996B; border-right: 2px solid #C3996B; border-bottom: 2px solid #C3996B; border-left: 2px solid #C3996B; padding-top: 5px; padding-bottom: 5px; font-family: Helvetica Neue, Helvetica, Arial, sans-serif; text-align: center; mso-border-alt: none; word-break: keep-all;', target='_blank')
                        span(style='padding-left:20px;padding-right:20px;font-size:16px;display:inline-block;')
                          span(style='font-size: 16px; line-height: 2; word-break: break-word; mso-line-height-alt: 32px;') Asociaza cardul
                      //if mso
                    // [if (!mso)&(!IE)] <!
                  // <![endif]
              //if (mso)|(IE)
              //if (mso)|(IE)
        //if (mso)|(IE)
//if (IE)
